require('resetcss');
require('styleCommon/header.css');
require('styleCommon/footer.css');
require("avalonUI/chameleon/oniui-common.css");
require("avalonUI/dialog/avalon.dialog.css");
require("avalonUI/button/avalon.button.css");
require("avalonUI/smartgrid/avalon.smartgrid.css");
require("styleCommon/formElement.css");
require("styleCommon/myreset.css");
require("GMManage.css");

.qchat-download {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 40px;
    border-radius: 3px;
    z-index: 100;
    color: #fff;
    background: #01bcd4;
}

.m-form {
    margin-top: 20px;
}

.m-form .head {
    border-bottom: 2px dotted #01bcd4;
}
.m-form .head .title {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #01bcd4;
}
.m-form .operations {
    float: right;
    margin-top: -5px;
}
.m-form .cont {
    padding: 10px 0;
}
.m-form .cont .item {
    margin-right: 5px;
}
.m-form .cont .item label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.m-form .inp {
    display: inline-block;
    width: 320px;
    border: 1px solid #ddd;
}
.m-form .tips {
    color: #999;
    margin-bottom: 10px;
}

.cont-tit {
    float: left;
}
.m-faq {
    clear: right;
    margin-left: 85px;
}
.m-faq .tips {
    color: #ff8300;
}

.m-table {
    display: table;
    width: 100%;
    border: 1px solid #e5e5e5;
}
.m-table .question-input {
    margin: 5px;
    padding: 0 3px;
    min-height: 25px;
    width: 90%;
    font-size: 13px;
    border: 1px solid #e5e5e5;
}
.m-table .oper {
    color: #01bcd4;
}
.tr {
    display: table-row;
    padding: 10px 5px;
    text-align: center;
    line-height: 20px;
}
.td,
.th {
    display: table-cell;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}
.m-table .tr:last-child .td {
    border-bottom: 0;
}
.tr .th:last-child,
.tr .td:last-child {
    border-right: 0;
}
.th {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 7px 0;
    background-color: #f8f8f8;
    font-weight: bold;
}
.th.city {
    width: 200px;
}
.th.operate {
    width: 150px;
}
.td.city .question-input {
    width: 80%;
}
.route-city {
    width: 40%;
}

.city-wrapper {
    padding: 5px;
    text-align: center;
    font-size: 0;
}
.city-wrapper .item {
    position: relative;
    display: inline-block;
    font-size: 12px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.city.half {
    width: 100px;
}
.city-suggest {
    display: inline-block;
    width: 48%;
}
.el-autocomplete-suggestion {
    width: 160px !important;
}